h1 {
  text-align: center;
  font-family: cursive;
}

.col-md-4 {
  width: 20em;
  height: 20em;
  text-align: center;
  border: 2px;
  border-style: solid;
  border-color: white;
  opacity: inherit;
}

.hidden {
  display: none;
}

body, html {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ExspEUkoliksz67w8/green-matrix-background_r1gl8-f__F0000.png");
  background-size: 2500px;
  background-color: #cccccc;
}

.flashcard {
  margin: auto;
  font-size: 1.5em;
  font-family: verdana;
  color: white;
  margin-top: 2em;
  padding: 2em;
  border: 2px;
  border-style: solid;
  border-color: white;
}

.answer {
  color: white;
}
